{% extends 'base/base.html' %}
{% load static %}

{% block linkCSS %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}
    LITReview | Accueil
{% endblock %}

{% block content %}
    <form action="{% url 'create-ticket' %}">
        <button type="submit">Créer un ticket</button>
    </form>
    <form action="#">
        <button type="submit">Rédiger une critique</button>
    </form>

    {% for ticket in tickets %}
        {% if ticket.content_type == 'TICKET' %}
            {% include 'flux/ticket_snippet.html' %}
        {% elif ticket.content_type == 'REVIEW' %}
            {% include 'flux/review_snippet.html' %}
        {% endif %}
    {% endfor %}
{% endblock %}