{% extends 'base/base.html' %}
{% load static %}

{% block linkCSS %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block title %}
    LITReview | Mon Flux
{% endblock %}

{% block content %}

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <h2>Mes Posts</h2>

    {% for article in my_flux %}
        {% if article.content_type == 'TICKET' %}
            {% include 'my_flux/ticket-my_flux.html' %}
            <hr>
        {% elif article.content_type == 'REVIEW' %}
            {% include 'my_flux/review-my_flux.html' %}
            <hr>
        {% endif %}
    {% endfor %}


{% endblock %}